@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
    margin: 0;
}

nav {
    background-color: #b007FF;

    height: 10vh;
    width: 100vw;

    text-align: center;
    display: inline-block;
}

nav ul, nav ol {
    list-style-type: none;
}

nav ol {
    position: absolute;
    top: 0vh;
    z-index: -1;

    background-color: #8900CA;

    height: 4.5em;
    width: 100vw;

    font-family: "Roboto Condensed";
}

nav img {
    height: 5em;
    width: 10em;
}

nav a {
    text-decoration: none;
}

.ouderavond {
    text-decoration: none;

    font-family: "Roboto Condensed";
    font-size: 3em;

    color: white;

    position: relative;
    top: .15em;
}

nav > .submenu {
    animation-name: slide-in;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

nav:hover > .submenu {
    animation-name: slide-out;
    animation-timing-function: ease-in-out;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(4.5em);
    }
}

@keyframes slide-in {
    from {
        transform: translateY(4.5em);
    } to {
        transform: translateY(0);
    }
}